---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 62.5%;
}

body {
	background: $white;
  font: 16px/1.492 $helveticaNeue;
  color: $darkGray;
  -webkit-font-smoothing: antialiased;
}


h1, h2, h3, h4, h5, h6 {
  font-family: $georgia;
  color: $darkerGray;
  font-weight: bold;
  text-rendering: optimizeLegibility;

  line-height: 1.7;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px -30px;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

blockquote{
  width: 105%;
  padding-left: 30px;
  border-left: 4px solid $mediumGray;
  font-family: $helveticaNeue;
  font-size: 1.4em;
  line-height: 1.7em;
  font-weight: 300;
  color: $gray;
  margin-left: -12.5%;
  font-style: italic;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/
html{
  background-color: $darkGray;
  min-height: 100%;
}
body{
  max-width: 1400px;
  height: 100%;
}
.l-container{
  max-width: 45em;
  margin: 0 auto;
  padding: 0 1em;
}

.article-item{
  text-align: center;
  margin-bottom: 3em;
  &__title{
    font-size: 3em;
    line-height: 1.2em;
    margin-bottom: .4em;
    text-align: center;
    color: $darkGray;
  }
  &__lead-in{
    font-family: $helveticaNeue;
    font-weight: 300;
    font-size: 1.7em;
    line-height: 1.35em;
    color: $gray;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    text-align: center;
  }
  &__entry{
    text-align: left;
    font-size: 1.3em;
    line-height: 1.750em;
    font-family: $georgia;
    img{
      width: 125%;
      max-width: 125%;
      margin-left: -12.5%;
      margin-top: 1em;
      margin-bottom: 1em;
      padding: 1em;
      border: 1px solid $mediumGray;
    }
  }
  &__read-more{
    display: inline-block;
    margin-top: 1.2em;
    border: 1px solid $mediumGray;
    border-bottom: 2px solid rgba($black, .4);
    padding: .3em 1em;
    font-family: Oswald;
    text-transform: uppercase;
    color: $darkGray;
  }
}

.line-behind{
  border-bottom: 1px solid $mediumGray;
  text-align: center;
  position: relative;
  margin-bottom: 3em;
  h4{
    background-color: white;
    padding: 0 10px;
    position: relative;
    top: 12px;
    display: inline-block;
    background: $blue;
    color: white;
    font-family: Oswald;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    font-size: .85em;
    border-left: 10px solid white;
    border-right: 10px solid white;

  }
}

.site-header{
  background-image: url('/images/working.jpg');
  background-size: cover;
  height: 400px;
  margin-bottom: 2em;
}

.highlight{
  width: 125%;
  margin-left: -12.5% !important;
  padding: 10px 30px !important;
}
pre{
  line-height: 1em !important;

}
//
// .main
//

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";
