
/***********************/
/* SYNTAX HIGHLIGHTING */
/***********************/

.highlight {
  background-color: $darkerGray;
  padding: 5px 10px;
  margin: 20px 0;
}

.highlight pre {
  /* overflow: scroll; Prefer no word wrap? Uncomment this line and comment out the 2 lines below. */
  word-break: break-all;
  word-wrap: break-word;
}

code {
  font-family: 'Courier', monospace;
  font-size: 14px;
  color: #999
}

// Solarized Light Pygments
// Thanks https://gist.github.com/edwardhotchkiss/2005058
/* Comment */
.highlight .c, .highlight .c1 { color: #586E75 }
/* Error */
.highlight .err { color: #93A1A1 }
/* Generic */
.highlight .g { color: #93A1A1 }
/* Keyword */
.highlight .k { color: #859900 }
/* Literal */
.highlight .l { color: #93A1A1 }
/* Name */
.highlight .n { color: #93A1A1 }
/* Operator */
.highlight .o { color: #859900 }
/* Other */
.highlight .x { color: #CB4B16 }
/* Punctuation */
.highlight .p { color: #93A1A1 }
/* Comment.Multiline */
.highlight .cm { color: #586E75 }
/* Comment.Preproc */
.highlight .cp { color: #859900 }
/* Comment.Single */
.highlight .c1 { color: #586E75 }
/* Comment.Special */
.highlight .cs { color: #859900 }
/* Generic.Deleted */
.highlight .gd { color: #2AA198 }
/* Generic.Emph */
.highlight .ge { color: #93A1A1; font-style: italic }
/* Generic.Error */
.highlight .gr { color: #DC322F }
/* Generic.Heading */
.highlight .gh { color: #CB4B16 }
/* Generic.Inserted */
.highlight .gi { color: #859900 }
/* Generic.Output */
.highlight .go { color: #93A1A1 }
/* Generic.Prompt */
.highlight .gp { color: #93A1A1 }
/* Generic.Strong */
.highlight .gs { color: #93A1A1; font-weight: bold }
/* Generic.Subheading */
.highlight .gu { color: #CB4B16 }
/* Generic.Traceback */
.highlight .gt { color: #93A1A1 }
/* Keyword.Constant */
.highlight .kc { color: #CB4B16 }
/* Keyword.Declaration */
.highlight .kd { color: #268BD2 }
/* Keyword.Namespace */
.highlight .kn { color: #859900 }
/* Keyword.Pseudo */
.highlight .kp { color: #859900 }
/* Keyword.Reserved */
.highlight .kr { color: #268BD2 }
/* Keyword.Type */
.highlight .kt { color: #DC322F }
/* Literal.Date */
.highlight .ld { color: #93A1A1 }
/* Literal.Number */
.highlight .m { color: #2AA198 }
/* Literal.String */
.highlight .s { color: #2AA198 }
/* Name.Attribute */
.highlight .na { color: #93A1A1 }
/* Name.Builtin */
.highlight .nb { color: #B58900 }
/* Name.Class */
.highlight .nc { color: #268BD2 }
/* Name.Constant */
.highlight .no { color: #CB4B16 }
/* Name.Decorator */
.highlight .nd { color: #268BD2 }
/* Name.Entity */
.highlight .ni { color: #CB4B16 }
/* Name.Exception */
.highlight .ne { color: #CB4B16 }
/* Name.Function */
.highlight .nf { color: #268BD2 }
/* Name.Label */
.highlight .nl { color: #93A1A1 }
/* Name.Namespace */
.highlight .nn { color: #93A1A1 }
/* Name.Other */
.highlight .nx { color: #555 }
/* Name.Property */
.highlight .py { color: #93A1A1 }
/* Name.Tag */
.highlight .nt { color: #268BD2 }
/* Name.Variable */
.highlight .nv { color: #268BD2 }
/* Operator.Word */
.highlight .ow { color: #859900 }
/* Text.Whitespace */
.highlight .w { color: #93A1A1 }
/* Literal.Number.Float */
.highlight .mf { color: #2AA198 }
/* Literal.Number.Hex */
.highlight .mh { color: #2AA198 }
/* Literal.Number.Integer */
.highlight .mi { color: #2AA198 }
/* Literal.Number.Oct */
.highlight .mo { color: #2AA198 }
/* Literal.String.Backtick */
.highlight .sb { color: #586E75 }
/* Literal.String.Char */
.highlight .sc { color: #2AA198 }
/* Literal.String.Doc */
.highlight .sd { color: #93A1A1 }
/* Literal.String.Double */
.highlight .s2 { color: #2AA198 }
/* Literal.String.Escape */
.highlight .se { color: #CB4B16 }
/* Literal.String.Heredoc */
.highlight .sh { color: #93A1A1 }
/* Literal.String.Interpol */
.highlight .si { color: #2AA198 }
/* Literal.String.Other */
.highlight .sx { color: #2AA198 }
/* Literal.String.Regex */
.highlight .sr { color: #DC322F }
/* Literal.String.Single */
.highlight .s1 { color: #2AA198 }
/* Literal.String.Symbol */
.highlight .ss { color: #2AA198 }
/* Name.Builtin.Pseudo */
.highlight .bp { color: #268BD2 }
/* Name.Variable.Class */
.highlight .vc { color: #268BD2 }
/* Name.Variable.Global */
.highlight .vg { color: #268BD2 }
/* Name.Variable.Instance */
.highlight .vi { color: #268BD2 }
/* Literal.Number.Integer.Long */
.highlight .il { color: #2AA198 }



.highlight .hll { background-color: #49483e }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
